@import "tailwindcss";

@layer base {
  body {
    background: #efefef;
    margin: 0;
    overflow: hidden;
  }

  #app {
    height: 100vh;
  }

  canvas {
    display: block;
    width: 100%;
    height: 100%;
  }
}
