@import "tailwindcss";

@layer base {
  body {
    background: #efefef;
    height: 100vh;
    overflow: hidden;
  }

  #game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
  }

  canvas {
    display: block;
    width: 100%;
    height: 100%;
  }
}
